version: 2.1

executors:
  build-executor:
    docker:
      - image: circleci/openjdk:8u212-jdk-stretch
        environment:
          MAVEN_OPTS: -Xmx1g
  system-test-executor:
    machine:
      image: ubuntu-1604:201903-01

workflows:
  build-deploy:
    jobs:
      - build
      - tests:
          requires:
            - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - master

jobs:
  build:
    executor: build-executor
    steps:
      - checkout
      - run:
          name: Compile source without tests
          command: |
            mvn -DskipITs=true -DskipTests=true clean install

      - persist_to_workspace:
          root: ~/
          paths:
            - .m2
            - project

  tests:
    executor: system-test-executor
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Run system test with docker-compose
          command: |
            mvn -DskipITs=false -DskipTests=false clean install test integration-test
      - run:
          name: Save test results
          command: |
            mkdir -p ~/junit/
            find . -type f -regex ".*/target/failsafe-reports/.*xml" -exec cp {} ~/junit/ \;
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/junit/ \;
          when: always

      - store_test_results:
          path: ~/junit

  deploy:
    machine: true

    working_directory: ~/

    steps:
      - attach_workspace:
          at: ~/

      - run:
          name: Deploy the artifacts
          command: |
            mvn -s .circleci/.circleci.settings.xml -DskipTests deploy

